.social-login
    button
        a(href=routes.github)
            span.social-login_github
                i.fab.fa-github
            |Continue with Github
    button.social-login_facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
            |Continue with Facebook