.social-login
    button
        span.social-login_github
            i.fab.fa-github
        |Continue with Github
    button.social-login_facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook