extends layouts/main
include mixins/videoBlock
block content
    .videos
        each item in videos
            +videoBlock({
                id : item.id,
                fileUrl : item.fileUrl,
                title : item.title,
                views : item.views,
                description : item.description
            })