extends layouts/main
include mixins/videoBlock
block content
    .search_header
        h3 Searching for #{searchingBy}
    .search_videos
        each item in videos
            +videoBlock({
                videoFile : item.videoFile,
                title : item.title,
                views : item.views,
                description : item.description
            })